<div class="card">
	<h4 class="card-header">Transfer</h4>
	<div class="card-body">


		<select id=transferFrom>
			<option value=-1> Select account to transfer From</option>
			<option *ngFor="let temp of client.accList" value={{temp.accountNumber}}>{{temp.accountNumber}}</option>
		</select>
		<br>
		<br>
		<select id=transferTo>
			<option value=-1> Select account to transfer to</option>
			<option *ngFor="let temp of client.accList" value={{temp.accountNumber}}>{{temp.accountNumber}}</option>
		</select>
		<br>
		<br>
		<form [formGroup]="formModel">
			<h6> Amount to transfer: </h6>
			<input type="number" min=0 formControlName="amount">
			<button class="btn btn-primary" (click)="onClick(formModel)">Transfer</button>
		</form>
	</div>
</div>