
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/deposit" routerLinkActive="router-link-active">Profile</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/deposit" routerLinkActive="router-link-active" >Home</a>
        <a class="nav-link" routerLink="/deposit" routerLinkActive="router-link-active"  >Deposit</a>
        <a class="nav-link" routerLink="/withdraw" routerLinkActive="router-link-active">Withdraw</a>
        <a class="nav-link" routerLink="/transfer" routerLinkActive="router-link-active">Fund Transfer</a>
        <a class="nav-link" routerLink="/balance" routerLinkActive="router-link-active">Balance</a>
        <a class="nav-link" routerLink="/statement" routerLinkActive="router-link-active">Statement</a>
      </div>
  </div>
</nav> -->
<router-outlet></router-outlet>
